.hero {
  background: linear-gradient(to right, #002b36, #004466);
  color: #fff;
  height: 100vh;
  text-align: center;
}
.hero img {
  border: 4px solid #fff;
}
h1, h2, h3, h4 {
  color: #004466;
}
a {
  color: #0056b3;
}
a:hover {
  text-decoration: underline;
}
